<p id="notice"><%= notice %></p>

<h1>Reviewanswers</h1>

<table>
  <thead>
    <tr>
      <th>Review</th>
      <th>Question</th>
      <th>Answer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reviewanswers.each do |reviewanswer| %>
      <tr>
        <td><%= reviewanswer.review_id %></td>
        <td><%= reviewanswer.question_id %></td>
        <td><%= reviewanswer.answer_id %></td>
        <td><%= link_to 'Show', reviewanswer %></td>
        <td><%= link_to 'Edit', edit_reviewanswer_path(reviewanswer) %></td>
        <td><%= link_to 'Destroy', reviewanswer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reviewanswer', new_reviewanswer_path %>
